*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body
{
    background-image: url("BG.jpg");
    background-repeat: none;
    background-size: 1920px 1080px;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo
{
    width: 100px;
    margin-right: 20px;
    margin-left: -35px;
    cursor: pointer;
}
.nav-left, .nav-right, .nav-middle
{
    display: flex;
    align-items: center;
    
}
.nav-middle ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.nav-middle a
{
    text-decoration: none;
    color: #161009;

}
.nav-middle a:hover
{
    color: #FF8710;
}
.user img
{
    width: 50px;
    cursor: pointer;
}
fieldset
{
    display: block;
    justify-content: center;
    text-align: left;
}
.food-search
{
    margin-left: 20px;
    margin-right: 70%;
}

img
{
    width: 220px;
}
.order-lebel
{
    margin-left: 10px;
    margin-top: 5px;
}
textarea
{
    width: 220px;
    resize: none;
}
.input-responsive
{
    border: 1px solid #ccc;
    height: 52px;
    width: 317px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 10px;

}
textarea::placeholder, input::placeholder
{
    color: #cecece;
    font-size: 18px;
    padding-left: 20px;
}
.btn
{
    font-size: 18px;
    font-weight: 300;
    border: none;
    height: 52px;
    width: 317px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #00D021;
    color: #ffffff;
}

.food-menu-desc h3, p, img
{
    margin-left: 10px;
}
.footer img
{
    margin-top: 100px;
    width: 100%;
}
